SECRET_KEY=your-secret-key-here
DEBUG=True
DB_NAME=ecommerce_db
DB_USER=your-database-username
DB_PASSWORD=your-database-password
DB_HOST=localhost
DB_PORT=3306
EMAIL_HOST_USER=your-gmail@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
